* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100vh;
  background-color: black;
  width: 50%;
}
.title {
  margin-top: 20px;
  font-size: 52px;
  font-weight: 900;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px rgb(109, 109, 109);
}

.input-wrap {
  width: 50vw;
  display: flex;
  align-items: center;
  gap: 5px;
}
input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: inherit;
  outline: none;
}

.btn {
  padding: 10px 40px;
  border-radius: 8px;
  font-size: inherit;
  font-weight: 700;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transition: 0.3s;
  background-color: rgb(64, 146, 228);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(218, 224, 230);
}

.trash {
  cursor: pointer;
  color: grey;
}

.trash:hover {
  color: rgb(235, 95, 95);
  transition: 0.3s;
}
